<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header></header>
        <main>
            <input type="search" name="bookSearch" id="">
            <input type="radio" id="male" name="searchType" value="title">
            <!-- <label for="male">Male</label><br> -->
            <input type="radio" id="female" name="searchType" value="title">
            <!-- <label for="female">Female</label><br> -->
        </main>
        <footer></footer>
    </body>
</html>
