<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header></header>
        <main>
                <ul>
                    <% booksResult.forEach (book => {  %>
                        <img src="<%= book.bookImage %>" alt="">
                        <h2><%= book.bookName %></h2>
                        <p><%= book.bookAuthor %></p>
                        <p class="desc"><%= book.bookDesc %></p>
                    <% }) %>
                </ul>
        </main>
        <footer></footer>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="/app.js"></script>
    </body>
</html>